<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="E-commerce">
        </div>
    </div>
    <br><br><br><br>
    <h4 class="display-4 mt-5 text-center">Ecommerce application</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p><b>HI, IT's US!</b></p>
            <p>The users can Register products themselves,Get all the products registered,Search and Delete the orders made
                <br><br>
               
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">

            <p><b>ECOMMERCE</b></p>
            <p>
                E-commerce is the buying and selling of good or services via the internet, and the transfer of money and data to complete the sales. It's also known as electronic commerce or internet commerce
            </p>
            <ul>
                <li>Amazon</li>
                <li>eBay.</li>
                <li>H&M</li>
                <li>Starbucks.</li>
            </ul>
        </div>
    </div><br><br>
   
    <app-footer></app-footer>
</div>